{% extends 'quiz_create/basic.html' %}

{% block title %} Quiz-Home {% endblock %}

{% block link_css %} {% endblock %}

{% block css %}
    .options{
        list-style-type: lower-alpha;
    }
{% endblock %}

{% block body %}
    {% load static %}
    <h1>Questions :</h1>
    <div class="container-lg d-flex flex-column" style="width: 80%;">
        <h4 class="text-center">Show Questions</h4>
        {% for category in categories %}
        <h2>{{ category }}</h2>
        <div class="row">
            {% for ques in category.get_questions %}
                <div class="card justify-content-center col-3 mx-2 p-0" id="{{ ques.uid }}" style="font-size: 0.75rem;">
                    {% if ques.image %}
                        <img src="/media/{{ ques.image }}" class="card-img-top m-0" style="height: 80px;" alt="here is the img">
                    {% endif %}
                    <div class="card-body">
                        <h6 class="card-title">{{ ques.question }}</h6>
                        <p class="card-text mx-0">
                            <ul>
                                {% for option in ques.get_options %}
                                <li class="options">{{ option.answer }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                        <input type="checkbox" id="{{ ques.uid }}" class="question_checkbox">
                        <button id="" class="btn btn-primary question">Select</button>
                        <div class="question_err" style="color: red;"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script>
        console.log('Script working');
        if(localStorage.getItem('quiz') == null){
            var quiz = {};
        }
        else{
            localStorage.removeItem('quiz');
            var quiz = {};
        }
        console.log(typeof(quiz));
        document.getElementById('questions_no').innerHTML = Object.keys(quiz).length;

        var num = 0;
        $('.question_checkbox').click(function(){
            var idstr = this.id.toString();
            if(this.checked){
                quiz[idstr] = 1;
            }
            else
                delete(quiz[idstr]);

            console.log(quiz);
            localStorage.setItem('quiz',JSON.stringify(quiz));
            document.getElementById('questions_no').innerHTML = Object.keys(quiz).length;
        });
    </script>
{% endblock %}